.navbar-form {
    margin-right: 50px
}

.main-panel{
    margin-left: 200px;
}

/* .content .container-fluid {
    margin-top: 70px
} */

.main-panel .container-fluid .navbar-wrapper .navbar-brand {
    font-size: 17px;
  }

  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #ddd;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar .sidebar-wrapper ul.nav li.nav-item {
    width: 100%;
}

/* .sidebar .sidebar-wrapper ul.nav .active {
    background-color: #111; .nav>li>a:focus, 
} */

.nav>li>a.active {
    background-color: #eee;
}

.nav>li>a:not(.active):hover {
    background-color: #777;
}

.sidebar .sidebar-wrapper {
    margin-top: 20px;
}

.fixed-top {
    position: relative;
}

.content{
    padding-bottom: 60px;
}
