.card {
    border-style: ridge;
    padding: 20px 15px 40px;
}

.btn-default{
    float: left;
}

#saveAndExit{
    margin-left: 15px;
}

#add-Administrator {
    float: right;
}

#exit {
    float: right;
}

.list {
    margin-top: 15px;
}