/* .form-control{
    
} */

/* label{
    margin-left: 10px;
} */

.btn{
    margin-top: 15px;
}

#exit {
    margin-left: 20px;
}

span {
    color: rgb(250, 255, 189);
}

p { 
    color: #FFFFFF;
}