<!-- <div class="row">
    <div class="col-md-12"> -->
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="title text-center">Tenants list</h4>
                <!-- <p class="category">Here is a subtitle for this table</p> -->
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Unit ID</th>
                            <th>Date of Entry</th>
                            <th>payment status</th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- 'Unit_ID',
                            'tenant_cred',
                            'Entry_date', -->
                        <tr *ngFor="let tenant of tenants_list">
                            <td>
                                Ken Njoroge
                            </td>
                            <td>1</td>
                            <td>4/6/2015</td>
                            <td>Oud-Turnhout</td>
                        </tr>
                        <!-- <tr>
                            <td>2</td>
                            <td>
                                <a routerLink="/account/client/details">Julius Yego</a>
                            </td>
                            <td>7/4/2012</td>
                            <td>Sinaai-Waas</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <a routerLink="/account/client/details">Simon Kuria</a>
                            </td>
                            <td>19/7/2014</td>
                            <td>Baileux</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <a routerLink="/account/client/details">Philip Karoney</a>
                            </td>
                            <td>28/4/2013</td>
                            <td>Overland Park</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <a routerLink="/account/client/details">Doreen Achola</a>
                            </td>
                            <td>15/1/2018</td>
                            <td>Feldkirchen in Kärnten</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <a routerLink="/account/client/details">Kamau Maina</a>
                            </td>
                            <td>1/2/2017</td>
                            <td>Gloucester</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    <!-- </div>
  </div> -->
