<div class="row">
  <div class="col-md-4">
      <h4 class="table-heading">Your personal details</h4>
      <table>
          <tbody>
              <tr>
                  <td class="table-label">Name</td>
                  <td class="table-data">{{tenant_details.user.first_name}} {{tenant_details.user.last_name}}</td>
              </tr>
              <tr>
                  <td class="table-label">House ID</td>
                  <td class="table-data">{{tenant_data.unit_ID}}</td>
              </tr>
              <tr>
                  <td class="table-label">Date of entry</td>
                  <td class="table-data">{{tenant_data.tenant_records.date_of_entry}}</td>
              </tr>
              <tr>
                  <td class="table-label">Monthly rent</td>
                  <td class="table-data">KSH {{tenant_data.unit_value}}</td>
              </tr>
              <tr>
                  <td class="table-label">Phone number</td>
                  <td class="table-data">(+254) {{tenant_details.phone_number}}</td>
              </tr>
              <tr>
                  <td class="table-label">Email address</td>
                  <td class="table-data">timonkosy92@gmail.com</td>
              </tr>
              <br>
              <tr>
                  <!-- <td> -->
                  <p class="table-heading">Emergency contact details</p>
                  <!-- </td> -->
              </tr>
              <tr>
                  <td class="table-label">Name</td>
                  <td class="table-data">Ken Wabukala</td>
              </tr>
              <tr>
                  <td class="table-label">Phone number</td>
                  <td class="table-data">0747 240 260</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-4">
      <h4 class="table-heading">Current month payment details</h4>
      <table>
          <tbody>
              <tr>
                  <td class="table-label">Month</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Rent payment status</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Amount paid as rent</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Balance</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Date of payment</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Payment method</td>
                  <td class="table-data"></td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-md-4">  
      <h4 class="table-heading">Previous month payment details</h4>
      <table>
          <tbody>
              <tr>
                  <td class="table-label">Month</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Rent payment status</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Amount paid as rent</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Balance</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Date of payment</td>
                  <td class="table-data"></td>
              </tr>
              <tr>
                  <td class="table-label">Payment method</td>
                  <td class="table-data"></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
